---
layout: Menu25%_Content75%.hbs #layouts, same as we have in TYPO3; dev/templates/layouts ...
title: Quote #title in menu
number: 12 #position in menu
menuLevel: 2
hideInMenu: false #if true, will be hidden in menu
#shortcut: false #if true, will be hidden in breadcrumbs, same behavior we have in TYPO3
#subpages: false #(only for first-level pages)
parent: Generic #(only for second-level pages)
#parent2: #(only for third-level pages)
#parent3: #(only for fourth-level pages)
#parent4: #(only for fifth-level pages)
---

{{ renderContent 'quote'
        text="Top service. It’s nice to come back. Thank you for the support, efficient and fast. You are true professionals"
        name="John Doe"
        title="VP of Marketing"
        linkText="Royal Trader"
}}
