---
layout: Menu25%_Content75%.hbs #layouts, same as we have in TYPO3; dev/templates/layouts ...
title: Examples of Rich Text #title in menu
number: 3 #position in menu
menuLevel: 2
hideInMenu: false #if true, will be hidden in menu
#shortcut: false #if true, will be hidden in breadcrumbs, same behavior we have in TYPO3
#subpages: false #(only for first-level pages)
parent: Regular #(only for second-level pages)
#parent2: #(only for third-level pages)
#parent3: #(only for fourth-level pages)
#parent4: #(only for fifth-level pages)
---

{{!-- HTML copied from TYPO3 site (http://core.testserver.pixelant.nu) --}}

<div id="c12"><h1>TYPO3's Built-in Rich Text Editor</h1><p class="bodytext">TYPO3 contains a sophisticated, built-in rich text editor (RTE). This editor contains all of the features one would expect from an Enterprise CMS, and is highly configurable.</p></div>
<div id="c11"><h2>Examples of Rich Text Content Elements </h2><p class="bodytext"><b>Continuous text:</b> text, optional in <b>bold</b> or <i>italic</i> or in a combination of <i><b>bold and italic</b></i>.
</p>
<p class="bodytext"><b>Special characters can be used:</b> @ © ® ¢ ¼ ½ ¾ § ± a² m³ Ω π µ γ β α H2O
</p>
<p class="bodytext"><b>Texts in foreign languages can be mixed on one page.</b><br>The font has to be installed on the device though:
</p>
<p class="bodytext">cyrillic: Русская версия <br>chinese: 中文版<br>arabic: الْعَرَبيّة
</p>
<p class="text-center">Centered text</p>
<p class="text-right">Text justified right</p></div>
<div id="c10"><h3>Blockquote</h3><p class="bodytext">Aenean ante elit, elementum et, varius ut, condimentum ut, sem. Aenean ante neque, imperdiet sed, ultricies vitae, aliquam dictum, arcu. Aenean arcu est, semper vitae, euismod quis, vehicula eu, risus.</p><blockquote><p class="bodytext">Aenean ante elit, elementum et, varius ut, condimentum ut, sem. Aenean ante neque, imperdiet sed, ultricies vitae, aliquam dictum, arcu. Aenean arcu est, semper vitae, euismod quis, vehicula eu, risus.</p></blockquote><p class="bodytext">Aenean ante elit, elementum et, varius ut, condimentum ut, sem. Aenean ante neque, imperdiet sed, ultricies vitae, aliquam dictum, arcu. Aenean arcu est, semper vitae, euismod quis, vehicula eu, risus.</p></div>
<div id="c9"><h3>Lists</h3><p class="bodytext"><span style="line-height: 1.428571429;">Bulleted list:</span></p><ul><li>first level</li><li>first level<ul><li>second level</li><li>second level<ul><li>third level</li><li>third level</li></ul></li></ul></li></ul><p class="bodytext"><strong>Ordered list:</strong></p><ol><li>first level</li><li>first level<ol><li>second level</li><li>second level<ol><li>third level</li><li>third level</li></ol></li></ol></li></ol></div>
<div id="c8"><h3>Links</h3><p class="bodytext">You can insert <a href="index.php?id=3" class="internal-link">internal links</a> (links to pages within the website), <a href="http://typo3.org" target="_blank" class="external-link-new-window">external links</a> (links to external sites) or <a href="mailto:test@test.net" class="mail">e-mail links</a> (links that open the user's email client when clicked).</p></div>

