---
layout: Menu25%_Content75%.hbs #layouts, same as we have in TYPO3; dev/templates/layouts ...
title: Image groups #title in menu
number: 7 #position in menu
menuLevel: 2
hideInMenu: false #if true, will be hidden in menu
#shortcut: false #if true, will be hidden in breadcrumbs, same behavior we have in TYPO3
#subpages: false #(only for first-level pages)
parent: Regular #(only for second-level pages)
#parent2: #(only for third-level pages)
#parent3: #(only for fourth-level pages)
#parent4: #(only for fifth-level pages)
---

{{!-- HTML copied from TYPO3 site (http://core.testserver.pixelant.nu) --}}

<div id="c441" class="csc-default"><h1>Multiple Image Layout Options</h1><p class="lead">TYPO3 provides users with numerous possibilities for laying out images on a page. The back-end interface provides users with easy control over image formats, sizes, widths, groupings, and quality.</p></div>
<div id="c440" class="csc-default"><h2>6 images in 6 columns</h2><div class="image-left image-below"><div class="image-wrap"><div class="row image-group"><div class="col-sm-2"><figure class="image"><div  class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp2.jpg" width="92" height="52" class="" alt=""></div></figure></div>
<div class="col-sm-2"><figure class="image"><div  class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp1.jpg" width="91" height="52" class="" alt=""></div></figure></div>
<div class="col-sm-2"><figure class="image"><div  class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp2.jpg" width="92" height="45" class="" alt=""></div></figure></div>
<div class="col-sm-2"><figure class="image"><div  class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp3.jpg" width="92" height="62" class="" alt=""></div></figure></div>
<div class="col-sm-2"><figure class="image"><div  class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp1.jpg" width="91" height="52" class="" alt=""></div></figure></div>
<div class="col-sm-2"><figure class="image"><div  class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp1.jpg" width="92" height="52" class="" alt=""></div></figure></div></div></div><div class="text"></div></div></div>
<div id="c439" class="csc-default"><h2>6 images in 3 columns</h2><div class="image-left image-below"><div class="image-wrap"><div class="row image-group"><div class="col-sm-4"><figure class="image"><div  class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp1.jpg" width="193" height="109" class="" alt=""></div></figure></div>
<div class="col-sm-4"><figure class="image"><div  class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp2.jpg" width="194" height="110" class="" alt=""></div></figure></div>
<div class="col-sm-4"><figure class="image"><div  class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp3.jpg" width="193" height="94" class="" alt=""></div></figure></div></div>
<div class="row image-group"><div class="col-sm-4"><figure class="image"><div  class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp1.jpg" width="193" height="129" class="" alt=""></div></figure></div>
<div class="col-sm-4"><figure class="image"><div  class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp2.jpg" width="194" height="110" class="" alt=""></div></figure></div>
<div class="col-sm-4"><figure class="image"><div  class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp3.jpg" width="193" height="109" class="" alt=""></div></figure></div></div></div><div class="text"></div></div></div>
<div id="c438" class="csc-default"><h2>Fixed height for images with different width-height ratio</h2><div class="image-left image-below csc-textpic-equalheight"><div class="text"></div><div class="image-wrap"><div class="row image-group"><div class="col-sm-4"><figure class="image"><div  class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp1.jpg" width="142" height="80" class="" alt=""></div></figure></div>
<div class="col-sm-4"><figure class="image"><div  class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp2.jpg" width="143" height="80" class="" alt=""></div></figure></div>
<div class="col-sm-4"><figure class="image"><div  class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp3.jpg" width="165" height="80" class="" alt=""></div></figure></div></div>
<div class="row image-group"><div class="col-sm-4"><figure class="image"><div  class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp1.jpg" width="142" height="80" class="" alt=""></div></figure></div>
<div class="col-sm-4"><figure class="image"><div  class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp2.jpg" width="143" height="80" class="" alt=""></div></figure></div>
<div class="col-sm-4"><figure class="image"><div  class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp3.jpg" width="165" height="80" class="" alt=""></div></figure></div></div></div></div></div>
<div id="c437" class="csc-default"><h2>Fixed width for images with different width-height ratio</h2><div class="image-left image-below"><div class="text"></div><div class="image-wrap"><div class="row image-group"><div class="col-sm-4"><figure class="image"><div class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp1.jpg" width="100" height="57" class="" alt=""></div></figure></div>
<div class="col-sm-4"><figure class="image"><div class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp2.jpg" width="100" height="57" class="" alt=""></div></figure></div>
<div class="col-sm-4"><figure class="image"><div class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp3.jpg" width="100" height="49" class="" alt=""></div></figure></div></div>
<div class="row image-group"><div class="col-sm-4"><figure class="image"><div class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp1.jpg" width="100" height="67" class="" alt=""></div></figure></div>
<div class="col-sm-4"><figure class="image"><div class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp2.jpg" width="100" height="57" class="" alt=""></div></figure></div>
<div class="col-sm-4"><figure class="image"><div class="alohaeditable action-edit nostyles alohaeditable-inline-block"><img src="images/fotoTemp3.jpg" width="100" height="57" class="" alt=""></div></figure></div></div></div></div></div>



