// Flag-icon-css
// ### http://lipis.github.io/flag-icon-css/ ###

@flag-icon-css-path: 'flags';
@flag-icon-rect-path: '/4x3';
@flag-icon-square-path: '/1x1';
@import "../bower_components/flag-icon-css/less/flag-icon-base.less";

.flag-icon(au);
.flag-icon(at);
.flag-icon(be);
.flag-icon(ca);
.flag-icon(cn);
.flag-icon(hr);
.flag-icon(cz);
.flag-icon(dk);
.flag-icon(ee);
.flag-icon(fl);
.flag-icon(fr);
.flag-icon(fi);
.flag-icon(ge);
.flag-icon(de);
.flag-icon(gl);
.flag-icon(is);
.flag-icon(in);
.flag-icon(ie);
.flag-icon(il);
.flag-icon(it);
.flag-icon(jp);
.flag-icon(lv);
.flag-icon(nl);
.flag-icon(nz);
.flag-icon(no);
.flag-icon(pl);
.flag-icon(pt);
.flag-icon(sk);
.flag-icon(sl);
.flag-icon(es);
.flag-icon(se);
.flag-icon(ch);
.flag-icon(ua);
.flag-icon(gb);
.flag-icon(us);
