---
layout: Menu25%_Content75%.hbs #layouts, same as we have in TYPO3; dev/templates/layouts ...
title: Columns #title in menu
number: 3 #position in menu
menuLevel: 3
hideInMenu: false #if true, will be hidden in menu
#shortcut: false #if true, will be hidden in breadcrumbs, same behavior we have in TYPO3
#subpages: false #(only for first-level pages)
parent: Generic #(only for second-level pages)
parent2: Layout Content Elements #(only for third-level pages)
#parent3: #(only for fourth-level pages)
#parent4: #(only for fifth-level pages)
---


<div class="row">
    <div class="col-md-6">
        {{ renderContent '2_ImageTextLink'
            class=""
            imgLink="images/On_the_wall.jpg"
            header="Content element 2"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
            linkName="Read more"
        }}
    </div>
    <div class="col-md-6">
        {{ renderContent '2_ImageTextLink'
            class=""
            imgLink="images/On_the_wall.jpg"
            header="Content element 2"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
            linkName="Read more"
        }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ renderContent '2_ImageTextLink'
            class=""
            imgLink="images/On_the_wall.jpg"
            header="Content element 2"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
            linkName="Read more"
        }}
    </div>
    <div class="col-md-4">
        {{ renderContent '2_ImageTextLink'
            class=""
            imgLink="images/On_the_wall.jpg"
            header="Content element 2"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
            linkName="Read more"
        }}
    </div>
    <div class="col-md-4">
        {{ renderContent '2_ImageTextLink'
            class=""
            imgLink="images/On_the_wall.jpg"
            header="Content element 2"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
            linkName="Read more"
        }}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        {{ renderContent '2_ImageTextLink'
            class=""
            imgLink="images/On_the_wall.jpg"
            header="Content element 2"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
            linkName="Read more"
        }}
    </div>
    <div class="col-md-3">
        {{ renderContent '2_ImageTextLink'
            class=""
            imgLink="images/On_the_wall.jpg"
            header="Content element 2"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
            linkName="Read more"
        }}
    </div>
    <div class="col-md-3">
        {{ renderContent '2_ImageTextLink'
            class=""
            imgLink="images/On_the_wall.jpg"
            header="Content element 2"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
            linkName="Read more"
        }}
    </div>
    <div class="col-md-3">
        {{ renderContent '2_ImageTextLink'
            class=""
            imgLink="images/On_the_wall.jpg"
            header="Content element 2"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu."
            linkName="Read more"
        }}
    </div>
</div>
